{ config, pkgs, ... }:

{
  # OldUser101 sway output sample, modify as required
  # Write to `outputs.nix` to use!

  wayland.windowManager.sway.config.output = 
  let
    src = ./.;
  in {
    # The following are samples, define your own outputs here!
    eDP-1 = {
      position = "0 0";
      bg = "${src}/bg/default.jpg fill";
    };
    HDM1-A-1 = {
      position = "1920 0";
      bg = "${src}/bg/default.jpg fill";
    };
  };
}
