/* Cappuccin Mocha colors */
@define-color rosewater     #f5e0dc;
@define-color flamingo      #f2cdcd;
@define-color pink          #f5c2e7;
@define-color mauve         #cba6f7;
@define-color red           #f38ba8;
@define-color maroon        #eba0ac;
@define-color peach         #fab387;
@define-color yellow        #f9e2af;
@define-color green         #a6e3a1;
@define-color teal          #94e2d5;
@define-color sky           #89dceb;
@define-color sapphire      #74c7ec;
@define-color blue          #89b4fa;
@define-color lavender      #b4befe;
@define-color text         #cdd6f4;
@define-color subtext1     #bac2de;
@define-color subtext0     #a6adc8;
@define-color overlay0     #9399b2;
@define-color overlay1     #7f849c;
@define-color overlay2     #6c7086;
@define-color surface2     #585b70;
@define-color surface1     #45475a;
@define-color surface0     #313244;
@define-color base         #1e1e2e;
@define-color mantle       #181825;
@define-color crust        #11111b;

window {
	font-family: "FiraCode Nerd Font", monospace;
    background-color: transparent;
    border-radius: 8px;
    padding: 12px;
    border: none;
}

#input {
    background-color: @surface0;
    color: #f9e2af;
    border: none;
    padding: 6px 10px;
    font-weight: 600;
    border-radius: 6px;
    margin-bottom: 10px;
}

#entry {
    padding: 8px 12px;
    color: @subtext1;
    border-radius: 6px;
}

#entry:selected {
    background-color: @surface1;
    color: @text;
    font-weight: 900;
    transition: font-weight 0.2s
    /*text-shadow: 0 0 8px #ffffff;*/
}

#scroll {
    background-color: @surface0;
    border-radius: 4px;
}

#text {
    color: @subtext0;
}
