/* OldUser101 waybar styles */

* {
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 11px;
  color: #a6adc8;
  background: #1e1e2e;
  padding: 2px 10px;
}

#waybar {
  background: #1e1e2e;
  border-bottom: 1px solid #585b70;
  padding-top: 2px;
  padding-bottom: 2px;
}

#workspaces button {
  color: #a6adc8;
  padding: 2px 6px;
  margin: 0 3px;
  border: 1px solid #1e1e2e;
  border-radius: 4px;
  transition: 
    font-weight 0.2s,
    border 0.2s;
}

#workspaces button:hover {
  all: unset;
  color: #a6adc8;
  padding: 2px 6px;
  margin: 0 3px;
  border: 1px solid #585b70;
  border-radius: 4px;
  transition: 
    font-weight 0.2s,
    border 0.2s;
}

#workspaces button.focused {
  color: #1e1e2e;
  font-weight: 900;
}

#clock {
  color: #f9e2af;
  padding: 0 10px;
}

#battery, #network {
  color: #a6e3a1;
  padding: 0 8px;
}
